/* visual-styles.css */

body {
  background: radial-gradient(circle at center, red 0%, #8b0000 100%);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

button {
  border: none;
}

@keyframes redPulse {
  0% {
    background-color: #8b0000; /* rojo oscuro */
  }

  50% {
    background-color: #ff0000; /* rojo puro */
  }

  100% {
    background-color: #8b0000;
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 60px;
  left: 25px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #8b0000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: redPulse 2.5s infinite ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.whatsapp-button:hover {
  transform: scale(1.5) rotate(30deg);
}

.whatsapp-button img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}


.cerrar {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10000;
  padding: 8px;
  background: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.botonArribaIzquierda {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 28px;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10000;
  padding: 8px;
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
}

.btn-servicio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(red, darkred);
  width: 80%;
  height: 50px;
  border-radius: 15px;
  padding: 20px;
  color: white;
}

  .botonAudio{
    width: 30%;
    height: 60px;
    border-radius: 20px;
    background: red;
    color: white;
    font-size: 20px;
  }


.botonActivarCalculadora {
  background: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  height: 40px;
  margin: 30px;
}

.botonObtenerResultado {
  background: red;
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  border-radius: 25px;
  font-size: 20px;
  margin: 30px;
}

.section1 {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.contenedorPrincipal {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panelOcultable {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom right,
      #555555,
      #1a1a1a);
  padding: 100px 20px 20px 20px;
  z-index: 9999;
  width: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 90%;
  border-radius: 30px;
  align-items: center;
}

.imagenWeb {
  width: 100%;
  margin-top: 30px;
}

.calculadoraDeObra {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.pieDePagina {
  display: flex;
  flex-direction: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: darkred;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
  width: 100%;
  height: 20px;
  align-items: center;
  justify-content: center;
  z-index: 998;
}

.encabezado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background: darkred;
  margin: 0;
  z-index: 999;
  padding: 10px;
  box-sizing: border-box;
}

.linkLogoInicio {
  display: flex;
  width: 30%;
  height: 100%;
  background: none;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.imgPersonajes {
  height: 150px;
  width: auto;
}

.menuNavegacion {
  background: rgba(30, 30, 30, 0.9);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  z-index: 999;
  color: white;
  gap: 60px;
  padding: 0 0 0 30px;
  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform 0.5s ease-out,
    opacity 0.5s ease-out;
}

.menuNavegacion.activo {
  transform: translateX(0);
  opacity: 1;
}

/* Media Queries para elementos visuales en pantallas más pequeñas */
@media (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 1.8),
(max-width: 1080px) and (min-resolution: 1.8dppx) {
  svg {
    width: 70%;
  }

  .btn-img {
    height: 100%;
    max-height: 250px;
    margin-right: 50px;
  }

  .botonAudio{
    width: 25%;
    height: 30px;
    border-radius: 20px;
    font-size: 30px;
    font-family: "Lexend", sans-serif;
  }

  .whatsapp-button {
    bottom: 150px;
    left: 20px;
    width: 180px;
    height: 180px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  }

  #iconoContacto {
    transform: scale(2);
    transform-origin: center center;
  }

  .menu {
    background: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 30px;
  }

  .contenedorPrincipal {
    width: 100%;
  }

  .pieDePagina {
    font-size: 35px;
    height: 100px;
  }

  .linkLogoInicio {
    width: 100%;
  }

  .section1 {
  margin-top: 250px;
}

  .cerrar {
    width: 150px;
    height: 150px;
    font-size: 60px;
    margin: 50px;
  }

  .botonArribaIzquierda {
    width: 150px;
    height: 150px;
    margin: 25px;
  }

  .btn-menu:hover {
    background-color: #aa0000;
  }

  .btn-menu svg,
  .btn-menu i {
    width: 24px;
    height: 24px;
    fill: white;
  }

  .menuNavegacion {
    width: 90%;
    gap: 160px;
  }

  .botonObtenerResultado {
    height: 170px;
    width: 700px;
    border-radius: 25px;
    font-size: 50px;
    margin: 30px;
  }

  .btn-servicio {
    font-size: 50px;
    width: 80%;
    height: 100px;
  }

  .botonWhatsapp {
    padding: 50px;
    width: 100%;
    border-radius: 20px;
  }

  .encabezado {
    height: 200px;
  }

  .panelOcultable {
    width: 95%;
  }

  .botonActivarCalculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    height: 150px;
    margin: 100px;
  }

  .imgPersonajes {
    height: 300px;
    width: auto;
  }
}